{% extends "base.html" %}
{% block title %}Transferência de Atleta{% endblock %}

{% block content %}

<div class="container">

    <h3 class="fw-bold mb-4">Transferência de Atleta</h3>

    <div class="card shadow-sm">
        <div class="card-body">

            <form method="POST">

                <!-- ATLETA -->
                <div class="mb-3">
                    <label class="form-label">Atleta</label>
                    <input type="text" class="form-control" value=" atleta.nome_atleta " disabled>
                </div>

                <!-- EQUIPE ATUAL -->
                <div class="mb-3">
                    <label class="form-label">Equipe Atual</label>
                    <input type="text" class="form-control" value=" atleta.equipe " disabled>
                </div>

                <!-- NOVO PROJETO -->
                <div class="mb-3">
                    <label class="form-label">Novo Projeto</label>
                    <select name="projeto_id" class="form-select" required>
                        <option value="">Selecione</option>
                        {% for projeto in projetos %}
                        <option value=" projeto.id "> projeto.nome_projeto </option>
                        {% endfor %}
                    </select>
                </div>

                <!-- NOVA EQUIPE -->
                <div class="mb-3">
                    <label class="form-label">Nova Equipe</label>
                    <select name="equipe_id" class="form-select" required>
                        <option value="">Selecione</option>
                        {% for equipe in equipes %}
                        <option value=" equipe.id "> equipe.nome_equipe </option>
                        {% endfor %}
                    </select>
                </div>

                <!-- MOTIVO -->
                <div class="mb-3">
                    <label class="form-label">Motivo da transferência</label>
                    <textarea name="motivo" class="form-control" rows="3" required></textarea>
                </div>

                <div class="d-flex justify-content-end gap-2">
                    <a href=" url_for('detalhe_atleta', atleta_id=atleta.id) "
                       class="btn btn-secondary">
                        Cancelar
                    </a>

                    <button class="btn btn-primary">
                        Confirmar Transferência
                    </button>
                </div>

            </form>

        </div>
    </div>

</div>

{% endblock %}
