{% extends "base.html" %}
{% block title %}Editar Atleta{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h3 class="fw-bold mb-4">Editar Atleta</h3>

    <form method="POST">
        {{ form.csrf_token }}

        <!-- DADOS BÁSICOS -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header fw-bold">Dados Básicos</div>
            <div class="card-body">

                <div class="mb-3">
                    {{ form.firstname_atleta.label(class="form-label") }}
                    {{ form.firstname_atleta(class="form-control") }}
                    {% for error in form.firstname_atleta.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.lastname_atleta.label(class="form-label") }}
                    {{ form.lastname_atleta(class="form-control") }}
                    {% for error in form.lastname_atleta.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>

                
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control") }}
                        {% for error in form.email.errors %}
                        <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="col-md-3 mb-3">
                        {{ form.telefone1.label(class="form-label") }}
                        {{ form.telefone1(class="form-control") }}
                        {% for error in form.telefone1.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="col-md-3 mb-3">
                        {{ form.telefone2.label(class="form-label") }}
                        {{ form.telefone2(class="form-control") }}
                        {% for error in form.telefone2.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>

                     <div class="col-md-4 mb-3">
                        {{ form.rg.label(class="form-label") }}
                        {{ form.rg(class="form-control") }}
                        {% for error in form.rg.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="col-md-4 mb-3">
                        {{ form.cpf.label(class="form-label") }}
                        {{ form.cpf(class="form-control") }}
                        {% for error in form.cpf.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="col-md-4 mb-3">
                        {{ form.sexo_id.label(class="form-label") }}
                        {{ form.sexo_id(class="form-select") }}
                        {% for error in form.sexo_id.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>

                </div>

                <div class="mb-3">
                    {{ form.data_nascimento.label(class="form-label") }}
                    {{ form.data_nascimento(class="form-control") }}
                    {% for error in form.data_nascimento.errors %}
                            <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>

            </div>
        </div>

        <!-- DADOS ESPORTIVOS -->
        <div class="card shadow-sm mb-4">
            <div class="card-header fw-bold">Dados Esportivos</div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form.equipe_id.label(class="form-label") }}
                        {{ form.equipe_id(class="form-select") }}
                        {% for error in form.equipe_id.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="col-md-4 mb-3">
                        {{ form.modalidade_id.label(class="form-label") }}
                        {{ form.modalidade_id(class="form-select") }}
                        {% for error in form.modalidade_id.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="col-md-4 mb-3">
                        {{ form.posicao_id.label(class="form-label") }}
                        {{ form.posicao_id(class="form-select") }}
                        {% for error in form.posicao_id.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form.categoria_id.label(class="form-label") }}
                        {{ form.categoria_id(class="form-select") }}
                        {% for error in form.categoria_id.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="col-md-4 mb-3">
                        {{ form.nivel_id.label(class="form-label") }}
                        {{ form.nivel_id(class="form-select") }}
                        {% for error in form.nivel_id.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <!-- STATUS INICIAL -->
                    <div class="col-md-4 mb-3">
                        {{ form.status_id.label(class="form-label") }}
                        {{ form.status_id(class="form-select") }}
                        {% for error in form.status_id.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <a href="{{ url_for('visualizar_atleta', atleta_id=atleta.id) }}" class="btn btn-secondary">
                        Voltar
                    </a>
                    <button class="btn btn-primary">
                        Atualizar Atleta
                    </button>
                </div>

            </div>
        </div>

    </form>

</div>
{% endblock %}
